{% extends 'layout/template.twig' %}

{% block description %}

{% endblock %}

{% block title %} Admin {% endblock %}

{% block content %}
{% if session.users.status is defined and session.users.status == 'admin' %}
<!-- Administrator connected -->
<h2>Panneau de contrôle :</h2>

<header>
  <h3>Navigation</h3>

  <nav>
      <ul>
        <li><a href="#">Vers les chapitres</a></li>
        <li><a href="#">Vers les commentaires signalés</a></li>
        <li><a href="#">Vers les utilisateurs</a></li>
      </ul>
  </nav>
</header>


<article>
  <h3>Création d'un article</h3>

  <form method="post" action="{{ url('post!create') }}" enctype="multipart/form-data">
    <ul>
      <li>
        <label for="title">Titre</label>
        <input id="title" type="text" name="title" placeholder="Titre">
      </li>

      <li>
        <label for="content">Contenu du chapitre</label>
        <textarea name="content" id="content"></textarea>
      </li>

      <li>
        <button type="submit">Créer</button>
      </li>
    </ul>
  </form>
</article>

<section>
  <h3>Espace de gestion des chapitres créés</h3>

  <table>
    <caption>Recensement des chapitres</caption>
    <thead>
      <tr>
        <th scope="col">Titre du chapitre</th>
        <th scope="col">Editer / Supprimer</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
          <td>{{ post.title }}</td>
          <td>
            <a href="{{ url('post!modify', {'id': post.id}, {'id': comment.post_id}) }}">
              <i class="fas fa-pen-square fa-fw fa-lg"></i>
            </a>
            <a href="{{ url('post!delete', {'id': post.id}) }}">
               <i class="fas fa-times-circle fa-fw fa-lg"></i>
            </a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section>
<h3>Espace de gestion des commentaires créés</h3>

  <table>
    <caption>Commentaires signalés<i class="fas fa-exclamation-triangle"></i></caption>
    <thead>
      <tr>
        <th scope="col">Auteur</th>
        <th scope="col">Contenu du commentaire</th>
        <th scope="col">Poster / Supprimer</th>
      </tr>
    </thead>
    <tbody>
      {% for comment in comments %}
      <tr>
        {% if comment.reported == 1 %}
          <td>{{ comment.author }} </td>
          <td>{{ comment.content | nl2br }} </td>
          <td><a href="{{ url('comments!notreported', {'id': comment.id}) }}">Poster le chapitre</a></td>
          <td><a href="#">Supprimer</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section>
<h3>Espace de gestion des utilisateurs créés</h3>

  <table>
    <caption>Table des utilisateurs</caption>
    <thead>
      <tr>
        <th scope="col">Surnom affiché</th>
        <th scope="col">Email</th>
        <th scope="col">Statut</th>
        <th scope="col">Editer / Supprimer /<a href="{{ url('admin!create') }}"><i class="fas fa-user-plus fa-fw fa-lg"></i></a></th>
      </tr>
    </thead>
    <tbody>
      {% for admin in admin %}
      <tr>
        <td>{{ admin.nickname }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.status }}</td>
        <td>
          <a href="{{ url('admin!modify', {'id': admin.id}) }}">
            <i class="fas fa-pen-square fa-fw fa-lg"></i>
          </a>
          <a href="{{ url('admin!delete', {'id': admin.id}) }}">
             <i class="fas fa-times-circle fa-fw fa-lg"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% else %}
<!-- Member connected -->
<h2>Paramètres personnels</h2>

<article>
  <h3>Bonjour dans votre espace personnel {{ session.users.nickname }}</h3>
  <p>Pour modifier vos infos personnelles utilisez le formulaire ci dessous, néanmoins une reconnexion est necessaire pour voir les changements.</p>

  <fieldset>
    <legend><i class="fas fa-pen-square fa-fw fa-lg"></i> Edition</legend>
    <form action="{{ url('admin!useredit', {'id': session.users.id }) }}" method="post" enctype="text/plain">
      <ul>
        <li>
          <label for="first_name">Prénom</label>
          <input id="first_name" type="text" name="first_name" value="{{ session.users.first_name }}" required>
        </li>

        <li>
          <label for="last_name">Nom</label>
          <input id="last_name" type="text" name="last_name" value="{{ session.users.last_name }}" required>
        </li>

        <li>
          <label for="nickname">Surnom Affiché</label>
          <input id="nickname" type="text" name="nickname" value="{{ session.users.nickname }}" required>
        </li>

        <li>
          <label for="email">Email</label>
          <input id="email" type="email" name="email" value="{{ session.users.email }}" required>
        </li>

        <li>
          <input type="reset" value="Valeurs par défaut">
          <input type="submit" value="Mettre à jour">
        </li>
      </ul>
    </form>
  </fieldset>
</article>
{% endif %}
{% endblock %}
