{% extends 'layout/template.twig' %}

{% block description %}

{% endblock %}

{% block title %} Admin {% endblock %}

{% block content %}
{% if session.users.status is defined and session.users.status == 'admin' %}
<!-- Administrator connected -->
<h1>Panneau de contrôle :</h1>
<form method="post" action="{{ url('post!create') }}">
  <label for="title">Titre</label>
  <input id="title" type="text" name="title" placeholder="Titre">

  <label for="content">Contenu du chapitre</label>
  <textarea name="content" id="content" cols="30" rows="5"></textarea>
  <button type="submit">Créer</button>
</form>
<ul class="admin-container">
  <li>
    <table>
      <thead>
        <tr>
          <th colspan="3">Recensement des chapitres</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
            <td>
              {{ post.id }} - {{ post.title }}
            </td>
            <td>
              {{ post.content|nl2br}}
            </td>
            <td>
              <a href="{{ url('post!modify', {'id': post.id}, {'id': comment.post_id}) }}">
                <i class="fas fa-pen-square fa-fw fa-lg" aria-hidden="true"></i>
              </a>|
              <a href="{{ url('post!delete', {'id': post.id}) }}">
                 <i class="fas fa-times-circle fa-fw fa-lg"></i>
              </a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </li>

  <li>
    <table>
      <thead>
        <tr>
          <th>Commentaires signalés<i class="fas fa-exclamation-triangle"></i></th>
        </tr>
        <tr>
          <th>Auteur</th>
          <th>Contenu du commentaire</th>
        </tr>
      </thead>
      <tbody>
      {% for comment in comments %}
        <tr>

            {% if comment.reported == 1 %}

              <td>{{ comment.author }} </td>
              <td>{{ comment.content | nl2br }} </td>
              <td><a href="{{ url('comments!notreported', {'id': comment.id}) }}">Discard</a></td>
              <td><hr></td>

            {% endif %}

        </tr>
      {% endfor %}

      </tbody>
    </table>
  </li>

  <li>
    <table>
      <thead>
        <tr>
          <th colspan="5">Table des utilisateurs</th>
        </tr>
        <tr>
          <th>Surnom affiché</th>
          <th>Email</th>
          <th>Statut</th>
          <th>Modifications/Suppression/<a href="{{ url('admin!create') }}"><i class="fas fa-user-plus fa-fw fa-lg" aria-hidden="true"></i></a></th>
        </tr>
      </thead>
      <tbody>
        {% for admin in admin %}
        <tr>
          <td>
            {{ admin.nickname }}
          </td>
          <td>
            {{ admin.email }}
          </td>
          <td>
            {{ admin.status }}
          </td>
          <td>
            <a href="{{ url('admin!modify', {'id': admin.id}) }}">
              <i class="fas fa-pen-square fa-fw fa-lg" aria-hidden="true"></i>
            </a>|
            <a href="{{ url('admin!delete', {'id': admin.id}) }}">
               <i class="fas fa-times-circle fa-fw fa-lg"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </li>
</ul>

{% else %}
<!-- Member connected -->
<h1>Paramètres personnels</h1>
<ul>
  <li>
    Bonjour <strong>{{ session.users.nickname }}</strong> !
  </li>
  <li>Pour modifier vos infos personnelles:</li>
  <li>Une reconnexion est necessaire pour voir les changements.</li>
  <li>
    <form action="{{ url('admin!useredit', {'id': session.users.id }) }}" method="post">
      <ul>
           <li>
             <label for="first_name">Prénom</label>
             <input id="first_name" type="text" name="first_name" value="{{ session.users.first_name }}" required>
           </li>
           <li>
               <label for="last_name">Nom</label>
               <input id="last_name" type="text" name="last_name" value="{{ session.users.last_name }}" required>
           </li>
           <li>
               <label for="nickname">Surnom Affiché</label>
               <input id="nickname" type="text" name="nickname" value="{{ session.users.nickname }}" required>
           </li>
           <li>
             <label for="email">Email</label>
             <input id="email" type="email" name="email" value="{{ session.users.email }}" required>
           </li>
         </ul>
         <ul>
           <li>
               <input type="reset" value="Reset">
               <input type="submit" value="Mettre à jour">
           </li>
       </ul>
    </form>
  </li>
</ul>
{% endif %}
{% endblock %}
