{% extends 'layout/template.twig' %}

{% block description %}{% endblock %}

{% block title %} Modifications d'un chapitre {% endblock %}

{% block content %}
<h1> Modification du chapitre {{ posts.id }}</h1>
<form class="" action="{{ url('post!modify', {'id': posts.id }) }}" method="post">
  <ul>
       <li>
         <label for="title">Titre</label>
         <input id="title" type="text" name="title" value="{{ posts.title }}" required>
       </li>
       <li>
           <label for="content">Contenu</label>
           <textarea id="content" name="content" rows="5" cols="100" maxlength="255" required>{{ posts.content }}</textarea>
       </li>
     </ul>
     <ul>
       <li>
           <input type="reset" value="Reset">
           <input type="submit" value="Update">
       </li>
   </ul>
</form>
<ul>
  <li><h2>Commentaires associés:</h2></li>
  <li>
  {% for comment in comments %}
        <li>{{ comment.author }}<li>
        <li>{{ comment.comment}}</li>
        <li>{{ comment.comment_date}}</li>
        <li>
          <a href="{{ url('comments!delete', {'id': comment.id}) }}">Suppression du commentaire
             <i class="fas fa-times-circle fa-fw fa-lg"></i>
          </a>
        </li>
  {% endfor %}
  </li>
</ul>
<a href="{{ url('admin') }}">Panneau de contrôle</a>
{% endblock %}
