{% extends 'layout/template.twig' %}

{% block description %}

{% endblock %}

{% block title %} Admin {% endblock %}

{% block content %}
<a href="{{ url('connexion!log_out') }}">
  <button type="button" name="log_out">Logout</button>
</a>
<h1>Panneau de contrôle :</h1>

<form method="post" action="{{ url('post!create') }}">
    <label for="title">Titre</label>
    <input id="title" type="text" name="title" placeholder="Titre">

    <label for="content">Contenu du chapitre</label>
    <textarea name="content" id="content" cols="30" rows="5"></textarea>
    <button type="submit">Créer</button>
</form>

<table>
  <thead>
    <tr>
      <th colspan="3">Recensement des chapitres</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
        <td>
          {{ post.id }} - {{ post.title }}
        </td>
        <td>
          {{ post.content }}
        </td>
        <td>
          <a href="{{ url('post!modify', {'id': post.id}) }}">
            <i class="fas fa-pen-square fa-fw fa-lg" aria-hidden="true"></i>
          </a>
          <a href="{{ url('post!delete', {'id': post.id}) }}">
             <i class="fas fa-times-circle fa-fw fa-lg"></i>
          </a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
