{% extends 'layout/template.twig' %}

{% block description %}

{% endblock %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<h2>Lecture du chapitre</h2>

    <article>
      <h3>{{ post.title }}</h3>
      <p>{{ post.content | nl2br }}</p>
    </article>

    <section>
      <h3>Commentaires :</h3>
        {% for comment in comments %}
        {% if comment.reported == 1 %}
        <!-- Only comments unreported rendered -->
        {% else %}
          <ul class="comment-card bg-color-blue">
            <li>
              <p>Écrit par : <span>{{ comment.author }}</span>, le <span>{{ comment.created_date }}</span></p>
              <p>{{ comment.content | nl2br}}</p>
            </li>

            {% if session.users.id is defined and session.users.id == comment.user_id %}

            <li>
              <a class="btn-delete" href="{{ url('comments!deletecomment', {'com_id': comment.id, 'id':post.id}) }}">Suppression du commentaire
                <i class="fas fa-times-circle fa-fw fa-lg"></i>
              </a>
            </li>
            {% endif %}

            {% if session.users.status is defined and session.users.status != "visitor" %}
            <li>
              <a class="btn-report" href="{{ url('comments!report',{'id': comment.id}, {'id':comment.post_id}) }}">Signaler le commentaire
                <i class="fas fa-exclamation-triangle"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        {% endif %}
        {% endfor %}
    </section>

    {% if session.users.status is defined and session.users.status == 'admin' or session.users.status == 'member' %}
      <section>
        <h3>Ajout d'un commentaire sur le chapitre en cours de lecture</h3>
        <form action="{{ url('comments!create',{'id':post.id}) }}" method="post" enctype="text/plain">
          <label for="content">Contenu du commentaire</label>
          <textarea id="content" name="content" rows="8" cols="80"></textarea>
          <input type="submit" value="Envoyer">
        </form>
      </section>
    {% elseif session.users.status is defined and session.users.status == 'visitor' %}
      <aside>
        <p>Votre compte utilisateur <strong>{{ session.users.nickname }}</strong> doit être vérifié par l'administrateur afin d'envoyer un ou des commentaires !</p>
      </aside>
    {% endif %}

      <nav>
        <ul>
          <li><a href="{{ url('post') }}">Retour aux chapitres</a></li>
          <li><a href="{{ url('home') }}">Retour à l'accueil</a></li>
        </ul>
      </nav>
{% endblock %}
