{% extends 'layout/template.twig' %}

{% block description %}

{% endblock %}

{% block title %} Voici tout mes chapitres {% endblock %}

{% block content %}
    <h1>Voici mes chapitres :</h1>
    <ul>
        {% for post in posts %}
                  <li>
                      {{ post.id }} - {{ post.title }}
                      <br>
                      {{ post.content | slice(0,150) }} ...
                  </li>
                  <a href="{{ url('fullPost!read', {'id': post.id}, {'id': comment.post_id}) }}">
                    <button type="button" name="button">Lire la suite</button>
                  </a>
                  <hr>


        {% endfor %}

<h1>Commentaires: </h1>
        {% for comment in comments %}
        <ul>
            <li>{{ comment.author }}<li>
              <li>{{ comment.comment}}</li>
              <li>
                {{ comment.post_id }}
              </li>
        </ul>
        <hr>

        {% endfor %}

    </ul>
{% endblock %}
